# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules and environment files for version1.0
/version1.0/node_modules
/version1.0/.env
/version1.0/.pnp
/version1.0/.pnp.js

# Hardhat files for version1.0
/version1.0/cache
/version1.0/artifacts

# TypeChain files for version1.0
/version1.0/typechain
/version1.0/typechain-types

# solidity-coverage files for version1.0
/version1.0/coverage
/version1.0/coverage.json

# Hardhat Ignition default folder for deployments against a local node for version1.0
/version1.0/ignition/deployments/chain-31337

# Node modules and environment files for version2.0
/version2.0/node_modules
/version2.0/.env
/version2.0/.pnp
/version2.0/.pnp.js

# Hardhat files for version2.0
/version2.0/cache
/version2.0/artifacts

# TypeChain files for version2.0
/version2.0/typechain
/version2.0/typechain-types

# solidity-coverage files for version2.0
/version2.0/coverage
/version2.0/coverage.json

# Hardhat Ignition default folder for deployments against a local node for version2.0
/version2.0/ignition/deployments/chain-31337
version2.0/package-lock.json
version2.0/package-lock.json
cache/solidity-files-cache.json
/artifacts
